    <table class="table table-hover">
            <tr>
                <td>
                    Owner:
                    <a>
                        {{ bi.owner }}
                    </a>
                    <br>
                    Owner Email:
                    <br>
                        {{ bi.owner_email }}
                    <br>
                    WebMap:
                    <a>
                        {{ bi.WebMap }}
                    </a>
                    <br>
                    Reachable Items:
                    <a>
                        {{ bi.reachable_items }}
                    </a>
                        {{ bi.unreachable_items }}
                </td>
            </tr>
        </table>