    <table class="table table-hover">
            <tr>
                <td>
                    Owner:
                    <a>
                        {{ ci.owner }}
                    </a>
                    <br>
                    Title:
                    <a>
                        {{ ci.title }}
                    </a>
                    <br>
                    Item Type:
                    <a>
                        {{ ci.type }}
                    </a>
                </td>
            </tr>
        </table>