<table>
    <tr valign="top">
        <td><img src="{{ post.author.avatar(36) }}"></td>
        <td> Entity ID:<br>{{ query.entity_id }}</td>
        <td> Spatial Entity:<br>{{ query.geoentity }}</td>
        <td> Entity Type:<br>{{ query.geotype }}</td>
        <td> Subtype:<br>{{ query.geosubtype }}</td>
        <td> Latitude:<br>{{ query.lat }}</td>
        <td> Longitude:<br>{{ query.lon }}</td>
        <td> Context:<br>{{ query.pretext }}<br>{{ query.value }}<br>{{ query.posttext }}</td>
        <td> Normalized Entity:<br>{{ query.norm }}</td>
        <td> Extracted Time:<br>{{ query.timestamp }}</td>
        <td> User:<br>{{ query.user_id }}</td>
    </tr>
</table>