<table class="table table-hover">
        <tr>
            <td>
                First Name:
                <a>
                    {{ u.firstname }}
                </a>
                <br>
                Last Name:
                <a>
                    {{ u.lastname }}
                </a>
                <br>
                Username:
                <a>
                    {{ u.username }}
                </a>
                <br>
                Email:
                <a>
                    {{ u.email }}
                </a>
                <br>
                License Type:
                <a>
                    {{ u.licensetype }}
                </a>
                <br>
                Role:
                <a>
                    {{ u.role }}
                </a>
                <br>
                Storage Usage:
                <a>
                    {{ u.storageUsage }}
                </a>
                <br>
            </td>
        </tr>
    </table>