<table class="table table-hover">
        <tr>
            <td>
                Server Validation Status:
                <a>
                    {{ sv.status }}
                </a>
                <br>
                Server ID:
                <a>
                    {{ sv.server_id }}
                </a>
                <br>
                Messages:
                <a>
                    {{ sv.messages }}
                </a>
                <br>
            </td>
        </tr>
    </table>